#search_bar
{
  background: url("../icons/search.svg") left     no-repeat;
  background-size: 25px;
  background-position: 8px;
  height:38px;
  padding-left:35px; 
  border-radius: 15px; 
  border: 2px rgb(109, 109, 109) solid;
}

.clear_filter_icon
{
  height: 28px;
  padding-left:5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  border-radius: 10px; 
  margin-left: 210%;
  margin-top: -2px;
  border: 1px rgb(141, 143, 146);
}

.clear_filter_icon:hover 
{
  opacity: 0.7;
  cursor: pointer;
}


.scrolls
{
  overflow-y: scroll;
  height: 430px;
  overflow-x: hidden;
  width: 68%;
}

.incidents_line
{
	width: 46.5%;
  border-top: 1px solid black;
  opacity: 0.4;
  position: absolute;
  left: 20%;
}

.incs_line
{
    width: 35%;
    margin-left: 10%;
    border-top: 2px solid grey;
    opacity: 0.4;
    left: 16%;
    position: absolute;
}

.vertical_line
{
  border-left: 2px solid black;
  height: 65%;
  position: absolute;
  left: 18%;
  opacity: 0.3;
  top: 19%;
}

