.btn{
	margin-left: 0px;
	outline:none;
	margin-bottom: 0px;
}

.iconBack{
	margin-left:80px;
	color: #616973;
	margin-right:0px;
	font-size: 25px;
}

.iconBack:hover{
	opacity: 0.6;
}

.modal_img
{
	position:absolute;
	top: -1%;
	left:0px;
	width: 20%
}

