.btn{
	margin-left: 0px;
	outline:none;
	margin-bottom: 0px;
}

.iconBack{
	margin-left:80px;
	color: #616973;
	margin-right:0px;
	font-size: 25px;
}

.iconBack:hover{
	opacity: 0.6;
}

.container{
	position: left;
	border: 1px solid #e8eaec;
	background-color: #e8eaec;
	border-radius: 15px;
	width: 30px important!;
	-webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.39);
	-moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.39);
	box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.39);
}

