#search_bar
{
  background: url("../icons/search.svg") left     no-repeat;
  background-size: 25px;
  background-position: 4px;
  height:35px;
  padding-left:35px; 
  border-radius: 12px; 
  border: 1px #000 solid;
}

.scrolls
{
  overflow-y: scroll;
  height: 430px;
  overflow-x: hidden;
  width: 68%;
}

.incidents_line
{
	width: 46.5%;
  border-top: 1px solid black;
  opacity: 0.4;
  position: absolute;
  left: 20%;
}

.incs_line
{
    width: 35%;
    margin-left: 10%;
    border-top: 2px solid grey;
    opacity: 0.4;
    left: 16%;
    position: absolute;
}

.vertical_line
{
  border-left: 2px solid black;
  height: 65%;
  position: absolute;
  left: 18%;
  opacity: 0.3;
  top: 19%;
}

