.navbar
{
  background-color: #616973 !important;
  height: 50px;
}

.navbar.mb-3{
  margin-bottom: 5px !important;
}

.navbar_text
{
  color: white;
  position:absolute;
  left:80px;
  top:13px;
}

.navbar_line
{
  border-right: 2px solid white;
  height: 35px;
  position: absolute;
  left: 63px;
}

.logo_img
{
  height: 90%;
  width: 40px;
  position: absolute;
  left: 10px;
  top: 3px;
}

.btn-primary
{
  color: #0389db;
  padding: 4px 8px !important;
}
