#tabMenu{
    padding-left: 90px;
    margin-bottom: 10px;
}

.title-generic{
    margin-bottom: 5px;
    font-size: 20px;
}

.title-bar{
    margin-bottom: 5px;
    font-size: 20px;
}

.title-bar2{
    margin-bottom: 0px;
    font-size: 18px;
}

.title-pie{
    margin-bottom: 0px;
    font-size: 18px;
 }

#graphBox-bar{
    -webkit-box-shadow: 2px 5px 9px 3px rgba(0,0,0,0.09);
    -moz-box-shadow: 2px 5px 9px 3px rgba(0,0,0,0.09);
    box-shadow: 2px 5px 9px 3px rgba(0,0,0,0.09);

    border:1px;
    min-width: 770px;
    max-width: 78%;
    height: auto;
    padding: 0px;
    margin-bottom: 25px;
}


#graphBox-pie{
    -webkit-box-shadow: 2px 5px 9px 3px rgba(0,0,0,0.09);
    -moz-box-shadow: 2px 5px 9px 3px rgba(0,0,0,0.09);
    box-shadow: 2px 5px 9px 3px rgba(0,0,0,0.09);

    min-width: 270px;
    max-width: 25%;
    margin-bottom: 20px;
}

#betweenBox{
    max-width: 1%;
    min-width: 1%;
}

#graphBox-bar2{
    -webkit-box-shadow: 2px 5px 9px 3px rgba(0,0,0,0.09);
    -moz-box-shadow: 2px 5px 9px 3px rgba(0,0,0,0.09);
    box-shadow: 2px 5px 9px 3px rgba(0,0,0,0.09);

    padding-left: 0px;
    min-width: 430px;
    max-width: 40%;
    margin-bottom: 20px;
}

#statTable{
    width: 80%;
}

#statBox{
    -webkit-box-shadow: 2px 5px 9px 3px rgba(0,0,0,0.09);
    -moz-box-shadow: 2px 5px 9px 3px rgba(0,0,0,0.09);
    box-shadow: 2px 5px 9px 3px rgba(0,0,0,0.09);

    /* min-width: 770px; */
    max-width: 50%;
    height: auto;
    padding: 0px;
    margin-bottom: 25px;
}







.blink_me {
    animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;
    height: 10px;
    width: 10px;
    background-color: #1ece28;
    border-radius: 50%;
    display: inline-block;
}

@keyframes blinker {
    50% {
    opacity: 0;
    }
}
