.login-form
{
	width: 100%;
	max-width: 330px;
	padding: 20px;
	margin: auto;
	padding-top: 60px; 
}

.loginbutton
{
	width: 100%;
	min-width: 280px;
	color: #f5f5f5;
	padding: 12px;
	font-size: 14px;
	font-weight: bold;
	border: solid 2px ##e6ecf1;
	border-radius: 4px;
	background: #2c71af;
	cursor: pointer;
}

.login_text
{
	color: #2c71af;
	visibility: visible;
	margin: auto;
	text-align: center;
	position: center;
}


.font-weight-bold
{
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 0.0;
}

.login_img
{
	position:absolute;
	right:0px;
	top:110px;
}
